@import "tailwindcss";

@import "tailwindcss";

:root {
  --background: #fcfcfc;
  --foreground: #0f172a; /* Navy */
  --primary: #1e3a8a; /* Deep Navy */
  --primary-foreground: #ffffff;
  --accent: #facc15;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
